* {
    margin:0;
    padding:0;
    font-family: montserrat;
}
h1 {
    text-align:center;
    font-size:60px;
}
.the {
    writing-mode: vertical-rl;
    text-align:center;
    font-size:25px;
    transform: rotate(180deg);
    margin-right:10px;
    font-weight: lighter;
}
.nav {
    margin-top:20px;
}
.navbar {
    display:flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    font-size:25px;
    cursor:pointer;
    margin-bottom: 20px;
   
}
.checked {
    font-size:40px;
    float:right;
    cursor:pointer;
    display:none;

}
.item {
    text-decoration: none;
    transition: all 1s linear 0s;
    font-weight: bolder;
}
.item:hover {
    color:darkred;
}
.horizontal {
    color:lightsalmon;
    margin:auto;
    width:95vw;
}
.container {
    width:90vw;
    margin: 30px auto;

}
.main-content {
    display:grid;
    position:relative;
}
.item1 {
   background-image: url('https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&w=600" alt="mountain');
   background-position: center;
   /* background-repeat: no-repeat; */
   background-size: cover;
   height:35rem;
   width:68%;
   border-radius: 25px;
}
.item2 {
    background-image: url('https://images.pexels.com/photos/711935/pexels-photo-711935.jpeg?auto=compress&cs=tinysrgb&w=600" alt="mountain');
    background-position: center;
    background-size: cover;
    height:15rem;
    width:30%;
    border-radius: 25px;
    position:absolute;
    left:70%;
}
.item3 {
    background-image: url('https://images.pexels.com/photos/711935/pexels-photo-711935.jpeg?auto=compress&cs=tinysrgb&w=600" alt="mountain');
    background-position: center;
    background-size: cover;
    height:15rem;
    width:30%;
    border-radius: 25px;
    position:absolute;
    left:70%;
    top:55%;

}
.content {
    display:flex;
    flex-direction: column;
    align-items: center;
    color:beige;
    font-size:20px;
}
.cover-wrap {
    display:flex;
    flex-direction: row;
    width:90%;
    margin:auto;
}
card {
    margin-right:50px;
    width:20%;
}
.tech-container {
    width:40vw;
    margin:25px auto;

}
.tech-h2 {
    text-align: center;
    font-size: 35px;
}
.tech-title {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.tech-title-left {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.tech-title-user {
    margin:20px 10px;
}
.text {
    font-size: 22px;
}
.tech-footer {
    border:2px solid black;
    padding:20px;
}
.element {
    display:flex;
    flex-direction: row;
}
.bolly-content {
    width:30%;
    margin-top:2%;
    margin-left:20px;
}
.latest-elements {
    display: flex;
    flex-direction: row;
}
.element-content {
    width:80%;
}
.element1 {
    margin-right: 80px;
}
.advertisement {
    height:450px;
    width:300px;
    position:absolute;
    left:70%;
    border:1px solid black;
    top:80rem; 
    /* top:273rem; */
    background-image: url('https://images.pexels.com/photos/3714786/pexels-photo-3714786.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 5px grey;
}
.advertisement-1{
    height:450px;
    width:300px;
    border:1px solid black;
    background-image: url('https://images.pexels.com/photos/3714786/pexels-photo-3714786.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 5px grey;
    position:relative;
    top:-50rem;
    left:70rem;
}
.top-post-1{
    position:absolute;
    left:70rem;
    top:80rem;
}
.latest_articles {
    display: flex;
}
 .top-post {
     position:absolute;
    left:70%;
    top:110rem;
    /* top:150rem; */
    
} 
.last-element {
    position:absolute;
    /* top:500%; */
    top:485%;
    left:4%;
    text-align: center;
    margin-bottom: 10px;
}
.latest_story {
    display:flex;
    justify-content: space-around;
}
.right-container {
    position:absolute;
    left:75%;
    top:-150%;
}
.not-found {
    background-image: url('https://media.istockphoto.com/photos/pug-dog-with-yellow-constructor-safety-helmet-and-cone-and-404-error-picture-id687810238?b=1&k=20&m=687810238&s=612x612&w=0&h=NvA4e0SqPTaz67DU584Pw6TeA5YsD8SYgE7abxPXdwo=');
    background-position: center;
    background-size: cover;
    height:90vh;
    width:100vw;
}
.more-data {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (min-width:600px) and (max-width:768px) {
    .element {
        display:flex;
        flex-direction: column;
    }
     .element-image {
        width:100%;
        height:auto;
    } 
    .right-container {
        display:none;
    }
    .bolly-content {
        width:100%;
        height:auto;
        font-size:1.7rem;
    }
    .latest-elements{
        display: flex;
        flex-direction: column;
    }
    .element1{
        width:100%;
        height:auto;
    }
    .element-content {
        width:100%;
        height:auto;
    }
    .latest_story,.latest_articles_right{
        display:none;
    }
    .checked{
        display:block;
    }

}
@media (max-width:600px) {
    .element {
        display:flex;
        flex-direction: column;
    }
     .element-image {
        width:100%;
        height:auto;
    } 
    .element-content {
        width:100%;
        height:auto;
    }
    .right-container {
        display:none;
    }
    .bolly-content {
        width:100%;
        height:auto;
        font-size:1rem;
    }
     .text , .tech-title-user {
        width:200%;
        height:auto;
        margin:auto;
    }
    .tech-image {
        width:100%;
        height:auto;
        margin:auto;
    }
    .tech-h2 {
        width:230%;
        height:auto;
        margin:auto;
    }
    .tech-footer {
        width:180%;
        margin:auto;
        height:auto;
    }
}

